# Dependency directories
pa-server/node_modules/
pa-server/.npm
pa-server/.env
pa-server/dist/
pa-server/coverage/

#Flutter
park_assistance/.android
park_assistance/.ios
park_assistance/.idea
park_assistance/.dart_tool